export(CIsim)
export(D)
export(SD)
export(TukeyHSD.formula)
export(TukeyHSD.lm)
export(adapt_seq)
export(antiD)
export(as.xtabs)
export(as.xtabs.data.frame)
export(as.xtabs.matrix)
export(binom.test)
export(coef.function)
export(col.mosaic)
export(compareMean)
export(compareProportion)
export(connector)
export(cross)
export(deal)
export(deg2rad)
export(dfapply)
export(do)
export(dotPlot)
export(evalFormula)
export(evalSubFormula)
export(favstats)
export(fetchData)
export(fetchGoogle)
export(findZeros)
export(fitModel)
export(fitSpline)
export(freqpolygon)
export(googleMap)
export(ilogit)
export(interval)
export(joinFrames)
export(ladd)
export(latlon2xyz)
export(logit)
export(maggregate)
export(makeColorscheme)
export(mean)
export(median)
export(nflip)
export(numerical.integration)
export(oddsRatio)
export(panel.cumfreq)
export(panel.lmbands)
export(panel.xqqmath)
export(perctable)
export(plotCumfreq)
export(plotCumfreq.default)
export(plotCumfreq.formula)
export(plotDist)
export(plotPoints)
export(prepanel.cumfreq)
export(print.oddsRatio)
export(project)
export(prop)
export(prop.test)
export(qdata)
export(rad2deg)
export(rand)
export(resample)
export(rflip)
export(rgeo)
export(rgeo2)
export(sd)
export(shuffle)
export(singvals)
export(smoother)
export(statTally)
export(surround)
export(tally)
export(theme.mosaic)
export(var)
export(xchisq.test)
export(xhistogram)
export(xpnorm)
export(xqqmath)
export(xyz2latlon)
exportClasses(repeater)
exportMethods(favstats)
exportMethods(mean)
exportMethods(median)
exportMethods(project)
exportMethods(sd)
exportMethods(tally)
exportMethods(var)
exportPattern("^[^\\.]")
importFrom(utils,head)
importFrom(utils,modifyList)
