export(adapt_seq)
export(antiD)
export(as.xtabs)
export(CIsim)
export(col.mosaic)
export(compareMean)
export(compareProportion)
export(connector)
export(cross)
export(D)
export(deal)
export(deg2rad)
export(dfapply)
export(do)
export(dotPlot)
export(evalFormula)
export(evalSubFormula)
export(fetchData)
export(fetchGoogle)
export(findZeros)
export(googleMap)
export(ilogit)
export(interval)
export(joinFrames)
export(ladd)
export(latlon2xyz)
export(logit)
export(maggregate)
export(makeColorscheme)
export(nflip)
export(numerical.integration)
export(oddsRatio)
export(panel.cumfreq)
export(panel.xqqmath)
export(perctable)
export(plotCumfreq)
export(plotDist)
export(prepanel.cumfreq)
export(prop)
export(qdata)
export(rad2deg)
export(rand)
export(resample)
export(rflip)
export(rgeo)
export(rgeo2)
export(SD)
export(shuffle)
export(singvals)
export(smoother)
export(statTally)
export(surround)
export(theme.mosaic)
export(xchisq.test)
export(xhistogram)
export(xpnorm)
export(xqqmath)
export(xyz2latlon)
exportClasses(repeater)
exportMethods(binom.test)
exportMethods(favstats)
exportMethods(mean)
exportMethods(median)
exportMethods(project)
exportMethods(prop.test)
exportMethods(sd)
exportMethods(tally)
exportMethods(var)
exportPattern("^[^\\.]")
importFrom(utils,head)
importFrom(utils,modifyList)
S3method(as.xtabs,data.frame)
S3method(as.xtabs,matrix)
S3method(plotCumfreq,default)
S3method(plotCumfreq,formula)
S3method(print,oddsRatio)
